.links{
	font-family: 'Pacifico', cursive;
	font-size:100px;
	height: 200px;
	width: 200px;
	margin-left: 700px;
	margin-top: 70px
}

.author{
	font-family: 'Shadows Into Light', cursive;
	font-size: 50px;
	margin-top:225px;
	margin-left: 1200px;
}

.contact{
	margin:50px;
	margin-left: 1350px;

}

#g,#f{
	margin-left: 20px;
	margin-right: 20px;
}
